body {
  background-color: #f7f7f8;
}

.lesson-content {
  background-color: #263238;
  padding: 20px;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

.editor-style {
}

.admin-dashboard {
  margin-top: 200px;
}

.console-style {
  background-color: #1e1e1e;
  color: white;
  height: 100px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 14px;
  padding: 13px;
  padding-left: 20px;
}

.left-menu {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 35px 20px;
  background-color: #ffffff;

  h3 {
    padding: 0px 0px 20px 18px;
  }

  ol li {
    margin: 10px 0px;
  }
}

.left-menu-item {
  transition: 0.3s;
  position: relative;
}

.left-menu-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.access-status-style {
  position: absolute;
  text-align: right;
  margin-left: auto;
  right: 0px;
}

.access-status-style .tooltiptext {
  visibility: hidden;
  font-size: 0.8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 100px;
  bottom: 100%;
  left: 50%;
  margin-left: -70px; /* Use half of the width (120/2 = 60), to center the tooltip */

  bottom: 100%; /* At the top of the tooltip */
  left: 50%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

.access-status-style .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 70%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.access-status-style:hover .tooltiptext {
  visibility: visible;
}

.modal-header-style {
  border-bottom: 0px none;
}

.modal-footer-style {
  border-top: 0px none;
  text-align: center;
  justify-content: center;
}

.home-view-lines {
  border: none;
  background-color: #333;
  height: 1px;
  margin: 50px 0px;
}

.disclaimer-row {
  text-align: center;
  margin: 100px 0px 30px 0px;
  font-size: 0.8rem;
  color: rgba(170, 170, 170, 0.74);

  p {
    margin: 0px;
  }

  a {
    color: rgba(170, 170, 170, 0.74);
  }
}

.rocket-div {
  background-image: radial-gradient(#fff, #f7f7f8);
}

.rocket-style {
  width: 100%;
  opacity: 1;
  filter: brightness(100%) saturate(100%) invert(3%);
}
