body {
  background-color: #f7f7f8;
}

.left-menu {
  border-radius: 10px;
  padding: 35px 20px;
  background-color: #ffffff;

  h3 {
    padding: 0px 0px 20px 18px;
  }

  ol li {
    margin: 10px 0px;
  }
}

.editor-style {
  border-radius: 10px;
}
